{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar-main">
            <!-- nav-tems-container -------------------- -->
            <div class="nav-items-container">

                <div class="logo">OWNER NAME</div>
                <div class="top-nav-menu" id="top-nav-menu-id">
                    <ul class="menu-items-container">
                        <li class="menu-item"> <a href="http://">about</a> </li>
                        <li class="menu-item"><a href="http://">services</a></li>
                        <li class="menu-item"><a href="http://">projects</a></li>
                        <li class="menu-item"><a href="http://">resume</a></li>
                        <li class="menu-item"><a href="http://">blog</a></li>
                        <li class="menu-item"><a href="http://">contacts</a></li>
                    </ul>
                </div>
                <button class="menu-toogle-button" id="menu-toogle-button-id"><img src="{% static 'blog/images/icons8-menu.svg' %}" alt="My image"></button>

            </div>
            <!-- nav-items-container-----------------end -->   
        </nav>
    </header>
</body>
</html>